html,
body,
header,
.view {
    height: 100%;
}

header, .view, .mask{
    overflow:auto;
}

.auth-bg{
    background-image: url("../img/backgrounds/auth_bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//
//@media (min-width: 560px) and (max-width: 740px) {
//    html,
//    body,
//    header,
//    .view {
//        height: 650px;
//    }
//}
//
//@media (min-width: 800px) and (max-width: 850px) {
//    html,
//    body,
//    header,
//    .view {
//        height: 650px;
//    }
//}
