html,
body,
header,
.view {
  height: 100%;
}

header,
.view,
.mask {
  overflow: auto;
}

.auth-bg {
  background-image: url(/images/auth_bg.jpg?0e7dfeec6100233a94977c9f81b5d1f7);
  background-repeat: no-repeat;
  background-size: cover;
}

